<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDriverService" />
        <binding name="BasicHttpBinding_IVehicleService" />
        <binding name="BasicHttpBinding_IRaceService" />
        <binding name="BasicHttpBinding_ILoginService" />
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51257/Service/Services/DriverService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDriverService"
        contract="DriverService.IDriverService" name="BasicHttpBinding_IDriverService" />
      <endpoint address="http://localhost:51257/Service/Services/VehicleService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVehicleService"
        contract="VehicleService.IVehicleService" name="BasicHttpBinding_IVehicleService" />
      <endpoint address="http://localhost:51257/Service/Services/RaceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRaceService"
        contract="RaceService.IRaceService" name="BasicHttpBinding_IRaceService" />
      <endpoint address="http://localhost:51257/Service/Services/LoginService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
        contract="LoginService.ILoginService" name="BasicHttpBinding_ILoginService" />
      <endpoint address="http://localhost:51257/Service/Services/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
    </client>
  </system.serviceModel>
</configuration>